<!DOCTYPE html>
<html>
<html>

<head>

<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>Insert title here</title>

</head>

<body style="background-color: #FFFFFF">
	<div class="navbar bg-dark w3-large">

		<span class="nav-item text-light ">View full details</span>
		<button class="btn btn-success">Accept</button>
		
	</div>

	<br />
	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-6">
				<h5>Organization type</h5>
				<h3>Organization name</h3>
				<h4>Organization code</h4>
				<br>
				<p>Org no</p>
				<p>Org street1</p>
				<p>Org street2</p>
				<p>Org city</p>				
				<p>Org ct1/Org ct2</p>
				<em>Org email</em>	
				<br><br>
				<p>Org Username</p>	
				<p>Requested date</p>
			</div>
			
			<div class="col-sm-6">
				<br><br>
				<h4>Organization head</h4>
				<h5>Organization head name</h5>
				<br>
				<p>Org no</p>
				<p>Org street1</p>
				<p>Org street2</p>
				<p>Org city</p>				
				<p>Org ct1/Org ct2</p>
				<em>Org email</em>	
				<br><br>
				<p>Org Username</p>	
			</div>
		</div>
		<br>
		<hr>
		<div class="row">
			<div class="col-sm-4">
				<h5>Person for Technical Matters</h5>
				<h4>Technical person name</h4>
				<h5>Name</h5>
				<h6>Designation</h6>
				<br>
				<p>Org no</p>
				<p>Org street1</p>
				<p>Org street2</p>
				<p>Org city</p>				
				<p>Org ct1/Org ct2</p>
				<em>Org email</em>	
				<br><br>
				<p>Org Username</p>	
			</div>
			<div class="col-sm-4">
				<h5>Person for Legal Matters</h5>
				<h4>Legal person name</h4>
				<h5>Name</h5>
				<h5>Gender</h5>
				<h6>Designation</h6>
				<br>
				<p>Org no</p>
				<p>Org street1</p>
				<p>Org street2</p>
				<p>Org city</p>				
				<p>Org ct1/Org ct2</p>
				<em>Org email</em>	
				<br><br>
				<p>Org Username</p>	
			</div>
			<div class="col-sm-4">
				<h5>Person for Financial Matters</h5>
				<h4>Financial person name</h4>
				<h5>Name</h5>
				<h5>Gender</h5>
				<h6>Designation</h6>
				<br>
				<p>Org no</p>
				<p>Org street1</p>
				<p>Org street2</p>
				<p>Org city</p>				
				<p>Org ct1/Org ct2</p>
				<em>Org email</em>	
				<br><br>
				<p>Org Username</p>	
			</div>
		</div>
		
	</div>
</body>

</html>

